body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #A898EA;
  color: white;
}

h1 {
  font-style: italic;
  font-family: verdana, arial, sans-serif;
  color: white;
}
button {
  padding: 13px;
  border-radius: 10px;
}
#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}
.hidden {
  display: none;
}
#button1 {
  background: lightgreen;
}
#button1:active,
#button1.lit {
  background: green;
}
#button2 {
  background: lightblue;
}
#button2:active,
#button2.lit {
  background: blue;
}
#button3 {
  background: pink;
}
#button3:active,
#button3.lit {
  background: red;
}
#button4 {
  background: lightyellow;
}
#button4:active,
#button4.lit {
  background: yellow;
}
#button5 {
  background: #42cef5;
}
#button5:active,
#button5.lit {
  background: #1f96b8;
}
#button6 {
  background: #d48ec1;
}
#button6:active,
#button6.lit {
  background: #91497e;
}
#button7 {
  background: #ffbe5c;
}
#button7:active,
#button7.lit {
  background: #db962e;
}
#button8 {
  background: #b3f5a9;
}
#button8:active,
#button8.lit {
  background: #4e9144;
}
#button9 {
  background: #ffc9fc;
}
#button9:active,
#button9.lit {
  background: #b886b2;
}